@charset "utf-8";
@font-face {
  font-family: 'TTBookendBatangR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/TTBookendBatangR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
  font-family: 'TTBookendBatangR';
}
header {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  background-color: #ffffff;
  display: none;
  z-index: 100;
}
.wrap {
  width: 90%;
  margin: 10px auto;
}
.wrap h1 {
  position: absolute;
  width: 80px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.wrap h1 img {
  width: 100%;
}
header nav ul {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
header nav ul img {
  width: 80px;
}
#visual {
  overflow: hidden;
}
#visual .page_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(../image/main33.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}
#visual .page_1 img {
  margin: 50px 0 0 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
}
.page_2 img {
  opacity: 0.3;
  width: 100%;
}
 .page_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  height: 100vh;
}
.page_2 .p2_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.page_2 h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 23%;
  font-size: 45px;
}
.page_2 .slide_box {
  width: 35%;
  position: absolute;
  right: 20%;
  top: 20%;
}
.page_2 .slide_box .slide {
  width: 100%;
  overflow: hidden;
  display: flex;
}
.page_2 .slide p {
  text-align: center;
  font-size: 15px;
  padding: 3px;
  color: #252525;
  margin-top: 15px;
}
.page_2 .slide img {
  opacity: 1;
  width: 100%;
  
}
.page_3 {
  margin: 20px 0;
  position: relative;
}
 .page_3 img {
  opacity: 0.3;
}
 .page_3 h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 500;
}
 .page_3 .p3_top{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 100px;
  padding: 100px 0 20px 20px;
  background-image: url(../image/main66.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.page_3 > div > div {
  width: 15%;
}
 .page_3 .p3_top img {
  width: 100%;
  opacity: 1;
  margin-bottom: 20px;
}
 .page_3 > div > div h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height:1.5;
  word-break:keep-all;
}
 .page_3 > div > div span {
  font-size: 12px;
  font-weight: 600;
  color:#444;
}
 .page_3 > div > div p {
  font-size: 13px;
  margin: 5px 0;
  color:#777;
}
.page_3 > div > div b {
  font-size:13px;
  color:#777;
}
 .page_3 .p3_bottom {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 10px 0 0 0;
  margin-top: 50px;
}
 .page_3 .p3_bottom img {
  width: 100%;
  opacity: 1;
}
 .page_4 {
  height: 100%;
  position: relative;
}
 .page_4 h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
 .page_4 .page_4_center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}
 .page_4 .page_4_center .p4_right h3{
 font-size: 16px;
 color: #aaa;
}
 .page_4 .page_4_center .p4_right h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 50px 0 5px 0;
}
 .page_4 .page_4_center .p4_right span {
  font-size: 13px;
  line-height: 1.5;
}
 .page_4 .page_4_center .p4_right b {
  color: coral;
  font-size: 18px;
}
.page_4 .page_4_center .p4_right i {
  color: #4a3f61;
}
 .page_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .page_5 .p5_top {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items:center;
  margin: 100px auto;
}
 .page_5 .p5_top p {
  font-size: 20px;
}
 .page_5 .p5_bottom {
  display: flex;
  gap: 100px;
  margin: 50px 0;
  font-size: 13px;
}
 .page_5 .p5_bottom .p5_bottom_1 ul li{
 background-color: #ffffff;
 margin: 10px 0;
 padding: 10px 10px;
 box-shadow: rgba(152, 157, 161, 0.2) 0px 8px 24px;
 border: 1px solid #f7f7f7;
}
 .page_5 .p5_bottom .p5_bottom_2 ul li{
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px 10px;
  box-shadow: rgba(152, 157, 161, 0.2) 0px 8px 24px;
  border: 1px solid #f7f7f7;}
 .page_5 .p5_bottom .p5_bottom_3 ul li{
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px 10px;
  box-shadow: rgba(152, 157, 161, 0.2) 0px 8px 24px;
  border: 1px solid #f7f7f7;}
.page_6 {
  background-image: url(../image/gallery-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.p6_txt {
  display: flex;
  gap: 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.p6_r {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 600;
}
.page6 #map {
  position: absolute;
  right: 0;
  z-index: 100;
}
.page_6 .p6_txt {
  padding: 150px 200px;
  background-color: rgba(255, 255, 255, 0.822);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  
}
.page_6 .p6_txt h5 img {
  width: 200px;
}
.page_7 {
  display: flex; 
  gap: 25px;
  justify-content: center;
  margin: 50px 0;
  align-items: center;
  position: relative;
}
.page_7 h5 {
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
}
.page_7 img {
  width: 500px;
}
.page_7 .slideitem{
  width: 1400px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 70px;
  margin: 100px 0;
}
.page_7 .slideitem .sitem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page_7 .slideitem .sitem .sitem_txt {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 80px;
}
.page_7 .slideitem .sitem .sitem_txt span {
  color: rgb(175, 136, 28);
  font-size: 13px;
}
.page_7 .slideitem .sitem .sitem_txt h6 {
  color: rgb(77, 77, 77);
  font-size: 30px;
  font-weight: 600;
}
.page_7 .slideitem .sitem .sitem_txt p {
  word-break: keep-all;
  line-height: 1.5;
  font-size: 13px;
}
.page_7 .slideitem .sitem .sitem_txt a {
  background-color: #eeeeee;
  border-radius: 30px;
  padding: 10px;
  font-size: 10px;
  width: 40px;
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #fff0f0;
  align-items: center;
  padding: 30px 0;
}
footer .foo_right {
  display: flex;
  gap: 50px;
}
footer .foo_right span{
  display: block;
  line-height: 1.5;
  font-size: 13px;
}
footer .foo_right h5 {
 font-size: 20px;
 font-weight: 600;
 line-height: 30px;
 margin-bottom: 20px;
 font-size: 18px;
}

/* 440 768 1024 1377 */
@media screen and (min-width : 320px) and (max-width : 1024px) {
  .wrap h1 {
    position: absolute;
    left: 10%;
  }
  .wrap nav ul {
    display: flex;
    justify-content: right;
    gap: 20px;
  }
  .wrap nav ul li:nth-child(1) {
    display: none;
  }
  .wrap nav ul li:nth-child(2) {
    display: none;
  }
  .page_1 img {
    width: 200px;
  }
  .page_2 .p2_box {
    position: relative;
  }
  .page_2 .p2_box h2 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
  }
  .page_2 .slide_box {
    width:400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
  }
  .page_2 .slide_box .slide {
    display: flex;
    flex-wrap: wrap;
  }
  .page_2 .slide_box .slide .item img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .page_3 {
    position: relative;
  }
  .page_3 h2 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-20%);
    right: 0;
    margin: 0 auto;
  }
  .page_3 .p3_top {
    background-image: url(../image/main55.png);
    height: 20%;
  }
  .page_3 .p3_top .p3_top_1{
    display: none;
  }
  .page_3 .p3_top .p3_top_2 img{
    width: 300px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .page_3 .p3_top .p3_top_2 .p3_top2_txt {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .page_3 .p3_top .p3_top_3{
    display: none;
  }
  .page_3 .p3_top .p3_top_4{
    display: none;
  }
  .page_3 .p3_bottom .p3_bottom_1{
    display: none;
  }
  .page_3 .p3_bottom .p3_bottom_2 img{
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .page_3 .p3_bottom .p3_bottom2_txt {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .page_3 .p3_bottom .p3_bottom_3{
    display: none;
  }
  .page_3 .p3_bottom .p3_bottom_4{
    display: none;
  }
  .page_4 {
    height: 100%;
    position: relative;
    padding: 100px;
  }
   .page_4 h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
   .page_4 .page_4_center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
  }
   .page_4 .page_4_center .p4_right h3{
   font-size: 12px;
   color: #aaa;
  }
   .page_4 .page_4_center .p4_right h4 {
    font-size: 12px;
    font-weight: 600;
    margin: 50px 0 5px 0;
  }
   .page_4 .page_4_center .p4_right span {
    font-size: 10px;
    line-height: 1.5;
  }
   .page_4 .page_4_center .p4_right b {
    color: coral;
    font-size: 12px;
  }
  .page_4 .page_4_center .p4_right i {
    color: #4a3f61;
  }
  .page_4 .page_4_center {
    display: flex;
    flex-direction: column;
  }
  .page_5 {
    position: relative;
  }
  .page_5 .p5_top p {
    font-size: 15px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    word-break: keep-all;
  }
  .page_5 .p5_top img {
    width: 100%;
    margin-top: 20px;
  }
  .page_5 .p5_bottom ul > li {
    font-size: 10px;
  }
  .page_6 .p6_txt {
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.822);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
  }
  .page_6 .p6_txt h5 img {
    width: 200px;
  }
  .page_7 {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .page_7 h5 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin: 50px auto;
  }
  .page_7 img {
    width: 200px;
  }
  .page_7 .slideitem{
    width: 500px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 100px;
  }
  .page_7 .slideitem .sitem {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .page_7 .slideitem .sitem .sitem_txt {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 80px;
  }
  .page_7 .slideitem .sitem .sitem_txt span {
    color: rgb(175, 136, 28);
    font-size: 10px;
  }
  .page_7 .slideitem .sitem .sitem_txt h6 {
    color: rgb(77, 77, 77);
    font-size: 18px;
    font-weight: 600;
  }
  .page_7 .slideitem .sitem .sitem_txt p {
    display: none;
  }
  .page_7 .slideitem .sitem .sitem_txt a {
    display: none;
  }
  footer .foo_left img {
    width: 20px;
  }
  footer .foo_right span{
    display: block;
    line-height: 1.5;
    font-size: 8px;
  }
  footer .foo_right h5 {
   font-size: 13px;
   font-weight: 600;
   line-height: 30px;
   margin-bottom: 20px;
   font-size: 13px;
  }
}
